body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #e2e9ec; 
    color: #061042; 
    line-height: 1.6;
}
/* Centering and Layout */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
/* Headers */
h1 {
    color: #074682; 
    font-size: 36px;
    margin-bottom: 20px;
    text-shadow: 1px 1px 2px #03438b; 
    text-align: center;
}

h2 {
    color: #1259bb; 
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
}

/* Form Styling */
form {
    background: #cedbe0bd; 
    border: 2px solid #bbbfc3; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(223, 235, 241, 0.1);
    margin-bottom: 20px;
    width: 100%;
    max-width: 400px;
}


form label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
    color: #104a71;
}

form input {
    width: 100%;
    padding: 10px;
    margin: 8px 0 16px;
    border: 1px solid rgb(224, 238, 241);
    border-radius: 6px;
    box-sizing: border-box;
    background: #ffffff; 
}

form button {
    background-color: #0e64a2; 
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #9dbeda; 
}

/* Links */
a {
    color: #4e91d3;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}

a:hover {
    color: #6d9de6;
    text-decoration: underline;
}
